// Imports from Another
@import "globals.scss";
@import "mixins";
@import "responsive.scss";

// color variables
$primary_color: #15adb9;
$secondary_color: #14b1f0;
$ternary_color: #03484d;
$white_color: #fff;
$black_color: #000;

// Home page Hero Container
.hero_container {
  // Banner All
  .banner {
    position: relative;

    // Banner Image
    .banner_image {
      @include bannerImage(0, 61px);
      @include grid(2, 0px);

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      justify-content: space-between;
      justify-items: center;
      align-content: space-between;
      align-items: center;

      // banner left side
      .banner_left {
        @include flexGap(16px);
        flex-direction: column;
        justify-content: center;

        // Banner Title
        .banner_title {
          color: #000;
          font-size: 57px;
          font-style: normal;
          font-weight: 400;
          line-height: 53px;

          span {
            color: $primary_color;
            margin-left: 5px;
          }
        }

        // Banner subtitle
        .banner_subtitle {
          color: $black_color;
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 25px;
          text-transform: capitalize;
        }

        // Banner button
        .banner_button {
          @include primaryButton($secondary_color, $white_color);
        }
      }

      // banner right side
      .banner_right {
        @include circle(
          linear-gradient(
            90deg,
            rgba(253, 200, 48, 1) 53%,
            rgba(253, 220, 48, 1) 100%
          ),
          130px,
          130px
        );
        @include flexOutGap;

        h1 {
          @include link(35px, 28px, $white_color);
        }
      }
    }
  }

  // Banner Icons for slider
  .banner-icons {
    position: absolute;
    bottom: 15px;
    left: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .active {
      width: 35px;
      height: 8px;
      background-color: #034e53;
      border-radius: 5px;
      cursor: pointer;
    }

    .unActive {
      width: 35px;
      height: 8px;
      background-color: #aa9393;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  // Banner Category
  .category_section {
    position: relative;
    padding: 0 61px;
    background: linear-gradient(
      180deg,
      #f3edc9 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

// Banner category left slide icons
.left_arrow {
  position: absolute;
  top: 40%;
  left: -30px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 999;
}

// Banner category right slide icons
.right_arrow {
  position: absolute;
  top: 40%;
  right: -40px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 999;
}
