// Imports from Another
@import "globals.scss";
@import "mixins";

// color variables
$primary_color: #15adb9;
$secondary_color: #14b1f0;
$ternary_color: #03484d;
$white_color: #fff;
$black_color: #000;

// Mobile Device
@include mobile() {
  .navbar_container {
    display: none;
  }

  // Small Device navbar
  .small_navbar {
    position: relative;

    // Top navbar
    .top_navbar {
      background-color: #03484d;
      padding: 10px 16px;
      flex-direction: column;
      @include flexGap(5px);

      .top_navbar_one {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .top_nav_left {
          display: flex;
          align-items: center;
          gap: 20px;

          .logo img {
            width: 70px;
            height: 30px;
          }
        }

        .top_nav_right {
          color: $white_color;
          font-weight: 400;
          font-style: normal;
          display: flex;
          align-items: center;
          gap: 10px;

          .contact {
            small {
              font-size: 12px;
            }

            p {
              display: flex;
              align-items: center;
              gap: 2px;

              span {
                font-size: 15px;
              }
            }

            .signIn_button {
              color: $white_color;
              background-color: transparent;
              border: 0;
              cursor: pointer;
            }
          }

          .cart {
            position: relative;

            p {
              position: absolute;
              left: 10px;
              bottom: 15px;
              color: #fdde3b;
            }

            div {
              display: flex;
              align-items: center;
              gap: 2px;
            }
          }
        }
      }

      .top_search {
        .search_field {
          display: flex;
          align-items: center;

          .category_select {
            @include categorySelect;
          }

          .input_field {
            padding: 10px 10px;
            width: 100%;
            margin-left: -2px;

            &:focus {
              outline: none;
            }
          }

          .search_button {
            @include searchButton($white_color);
          }
        }
      }
    }

    // Sub navbar
    .sub_navbar {
      height: 49px;
      background-color: #0e3b3e;
      padding: 10px 16px;
      @include flexBetween;

      .navbar_items {
        ul {
          @include flexGap(10px);
          align-items: center;

          li {
            @include dropdownList;
          }
        }
      }

      .social_icons {
        display: flex;
        gap: 10px;

        .icon {
          font-size: 25px;
          cursor: pointer;
          color: $white_color;

          &:hover {
            color: $secondary_color;
            transition: all 0.3s;
          }
        }
      }
    }

    // Sidebar categories
    .sidebar {
      @include sidebar(60%, $secondary_color);

      .close {
        @include closeBtn($white_color);
      }
    }

    .nav {
      @include nav;
    }

    .nav ul {
      list-style: none;

      li {
        position: relative;
        margin: 3.2em 0;

        a {
          @include link(20px, 16px, rgba(#fff, 0.5));
          letter-spacing: 2px;
          display: block;
          transition: all ease-out 300ms;
        }

        &.active a {
          color: white;
        }

        &:not(.active)::after {
          opacity: 0.2;
        }

        &:not(.active):hover a {
          color: rgba(#fff, 0.75);
        }

        &::after {
          @include navAfter($black_color, $white_color);
        }
      }
    }
  }

  // Small Device Hero container
  .hero_container {
    // Small Device banner
    .banner {
      position: relative;

      // Small Device banner image
      .banner_image {
        @include bannerImage(10px, 16px);

        // Small Device banner left side
        .banner_left {
          @include flexGap(6px);
          flex-direction: column;
          justify-content: center;

          .banner_title {
            @include link(25px, 25px, $black_color);

            span {
              color: $primary_color;
              margin-left: 4px;
            }
          }

          .banner_subtitle {
            @include link(20px, 13px, $black_color);
            text-transform: capitalize;
          }

          .banner_button {
            @include primaryButton($secondary_color, $white_color);
          }
        }

        // // Small Device banner right side
        .banner_right {
          @include circle(
            linear-gradient(
              90deg,
              rgba(253, 200, 48, 1) 53%,
              rgba(253, 220, 48, 1) 100%
            ),
            130px,
            130px
          );
          @include flexOutGap;

          h1 {
            @include link(35px, 28px, $white_color);
          }
        }
      }
    }

    // // Small Device banner  icons
    .banner-icons {
      position: absolute;
      bottom: 15px;
      left: 35%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .active {
        width: 35px;
        height: 8px;
        background-color: #034e53;
        border-radius: 5px;
        cursor: pointer;
      }

      .unActive {
        width: 35px;
        height: 8px;
        background-color: #aa9393;
        border-radius: 5px;
        cursor: pointer;
      }
    }

    // Small Device banner categories
    .category_section {
      position: relative;
      padding: 0 61px;
      background: linear-gradient(
        180deg,
        #f3edc9 0%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }

  // Small Device Category Container
  .category_container {
    margin-left: 10px;
  }

  // Small Device New Arrival Container
  .arrival_container {
    margin-top: 65px;
    padding: 0 16px !important;

    .title {
      @include link(34px, 20px, $secondary_color);
      text-transform: capitalize;

      span {
        color: $black_color;
      }
    }
  }

  // Small Device Every Single product details page
  .single_product_container {
    margin: 20px 20px !important;
    @include grid(1, 20px);
    place-content: center !important;
  }

  // Small Device all grid
  .grid {
    margin-top: 20px;
    @include grid(2, 10px);
  }

  // Small Device Best Deals
  .best_deals_container {
    margin-top: 65px;
    padding: 0 16px;

    // Small Device best deals categories
    .category_top {
      display: flex;
      flex-direction: column;
      align-items: start;

      .title {
        @include link(28px, 22px, $secondary_color);
        text-transform: capitalize;

        span {
          color: $black_color;
        }
      }

      .category {
        ul {
          display: flex;
          gap: 5px;

          li {
            list-style: none;

            button {
              font-size: 14px;
              color: $black_color;
              background: transparent;
              border: 0;
              cursor: pointer;
              text-decoration: none;
              text-transform: capitalize;
              border-bottom: 2px solid transparent;
            }
          }
        }
      }
    }

    .display_category {
      margin-top: 10px;

      .special_offer_grid {
        @include grid(1, 15px);

        .first_item {
          .special_discount {
            .circle {
              position: absolute;
              right: 10px;
              top: 15px;
            }
          }

          .offer_thumb {
            width: 100%;
            height: 380px;

            img {
              height: 100%;
            }
          }
        }
      }
    }
  }

  // Small Device footer
  .footer_container {
    .footer_top {
      @include footerTop(15px, 16px, $white_color, 30px);

      .footer_nav {
        @include grid(2, 20px);
        place-items: center;
      }

      .payment_methods {
        display: flex !important;
        justify-content: center !important;
        margin-top: 20px;

        div {
          img {
            width: 80px;
            height: 50px;
          }
        }
      }
    }

    .footer_bottom {
      @include footerBottom(16px, 59px, $black_color);

      p {
        color: $white_color;
        font-style: normal;
        font-weight: 400;
      }
    }
  }
}

@include medium() {
  // Medium Device navbar container display: none
  .navbar_container {
    display: none;
  }

  // Medium Device navbar container
  .small_navbar {
    position: relative;

    .top_navbar {
      background-color: #03484d;
      padding: 10px 16px;
      @include flexGap(10px);
      flex-direction: column;

      .top_navbar_one {
        @include flexBetween;

        .top_nav_left {
          @include flexGap(20px);
          align-items: center;
        }

        .top_nav_right {
          color: $white_color;
          font-weight: 400;
          font-style: normal;
          @include flexGap(15px);
          align-items: center;

          .contact {
            small {
              font-size: 12px;
            }

            p {
              @include flexGap(2px);
              align-items: center;

              span {
                font-size: 15px;
              }
            }

            .signIn_button {
              color: $white_color;
              background-color: transparent;
              border: 0;
              cursor: pointer;
            }
          }

          .cart {
            position: relative;

            p {
              position: absolute;
              left: 10px;
              bottom: 15px;
              color: #fdde3b;
            }

            div {
              @include flexGap(2px);
              align-items: center;
            }
          }
        }
      }

      .top_search {
        .search_field {
          display: flex;
          align-items: center;

          .category_select {
            @include categorySelect;
          }

          .input_field {
            padding: 10px 10px;
            width: 100%;
            margin-left: -2px;

            &:focus {
              outline: none;
            }
          }

          .search_button {
            @include searchButton($white_color);
          }
        }
      }
    }

    .sub_navbar {
      height: 49px;
      background-color: #0e3b3e;
      padding: 10px 16px;
      @include flexBetween;

      .navbar_items {
        ul {
          @include flexGap(10px);
          align-items: center;

          li {
            @include dropdownList;
          }
        }
      }

      .social_icons {
        @include flexGap(10px);

        .icon {
          font-size: 25px;
          cursor: pointer;
          color: $white_color;

          &:hover {
            color: $secondary_color;
            transition: all 0.3s;
          }
        }
      }
    }

    .sidebar {
      @include sidebar(60%, $secondary_color);

      .close {
        @include closeBtn($white_color);
      }
    }

    .nav {
      @include nav;
    }

    .nav ul {
      list-style: none;

      li {
        position: relative;
        margin: 3.2em 0;

        a {
          @include link(20px, 16px, rgba(#fff, 0.5));
          text-transform: capitalize;
          letter-spacing: 2px;
          display: block;
          transition: all ease-out 300ms;
        }

        &.active a {
          color: white;
        }

        &:not(.active)::after {
          opacity: 0.2;
        }

        &:not(.active):hover a {
          color: rgba(#fff, 0.75);
        }

        &::after {
          @include navAfter($black_color, $white_color);
        }
      }
    }
  }

  // Medium Device hero container
  .hero_container {
    .banner {
      position: relative;

      .banner_image {
        @include bannerImage(10px, 16px);

        .banner_left {
          @include flexGap(6px);
          flex-direction: column;
          justify-content: center;

          .banner_title {
            @include link(25px, 25px, $black_color);

            span {
              color: $primary_color;
              margin-left: 4px;
            }
          }

          .banner_subtitle {
            @include link(20px, 13px, $black_color);
            text-transform: capitalize;
          }

          .banner_button {
            @include primaryButton($secondary_color, $white_color);
          }
        }

        .banner_right {
          @include circle(
            linear-gradient(
              90deg,
              rgba(253, 200, 48, 1) 53%,
              rgba(253, 220, 48, 1) 100%
            ),
            130px,
            130px
          );
          @include flexOutGap;

          h1 {
            @include link(35px, 28px, $white_color);
          }
        }
      }
    }

    .banner-icons {
      position: absolute;
      bottom: 15px;
      left: 45%;
      @include flex(10px);

      .active {
        width: 35px;
        height: 8px;
        background-color: #034e53;
        border-radius: 5px;
        cursor: pointer;
      }

      .unActive {
        width: 35px;
        height: 8px;
        background-color: #aa9393;
        border-radius: 5px;
        cursor: pointer;
      }
    }

    .category_section {
      position: relative;
      padding: 0 61px;
      background: linear-gradient(
        180deg,
        #f3edc9 0%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }

  // Medium Device New Arrival
  .arrival_container {
    margin-top: 65px;
    padding: 0 16px !important;

    .title {
      @include link(34px, 20px, $secondary_color);
      text-transform: capitalize;

      span {
        color: $black_color;
      }
    }
  }

  // Medium Device best Deals
  .best_deals_container {
    margin-top: 65px;
    padding: 0 16px;

    .category_top {
      .title {
        @include link(28px, 28px, $secondary_color);
        text-transform: capitalize;

        span {
          color: $black_color;
        }
      }

      .category {
        ul {
          @include flexGap(10px);

          li {
            list-style: none;

            button {
              font-size: 14px;
              color: $black_color;
              background: transparent;
              border: 0;
              cursor: pointer;
              text-decoration: none;
              text-transform: capitalize;
              border-bottom: 2px solid transparent;
            }
          }
        }
      }
    }

    .display_category {
      margin-top: 10px;

      .special_offer_grid {
        @include grid(2, 15px);

        .first_item {
          .special_discount {
            .circle {
              position: absolute;
              right: 10px;
              top: 15px;
            }
          }

          .offer_thumb {
            width: 100%;
            height: 380px;

            img {
              height: 100%;
            }
          }
        }
      }
    }
  }

  // Medium Device All Grid
  .grid {
    margin-top: 20px;
    @include grid(3, 10px);
  }

  // Medium Device every single product details page
  .single_product_container {
    margin: 20px 20px !important;
    @include grid(2, 10px);
    place-content: center !important;
  }

  // Medium Device footer page
  .footer_container {
    .footer_top {
      @include footerTop(30px, 61px, $white_color, 61px);

      .footer_nav {
        @include grid(4, 20px);
        place-items: center;

        .company_info {
          @include flexGap(10px);
          flex-direction: column;

          .contact_number {
            a {
              @include link(17px, 15px, $white_color);
            }
          }

          .title {
            @include link(17px, 18px, $primary_color);
          }

          a {
            @include link(17px, 15px, $white_color);
          }

          .social_icons {
            @include flexGap(10px);

            .icon {
              font-size: 25px;
              cursor: pointer;

              &:hover {
                color: $secondary_color;
                transition: all 0.3s;
              }
            }
          }
        }
      }

      .payment_methods {
        display: flex;
        justify-content: flex-end;

        div {
          @include flexGap(15px);
          align-items: center;
        }
      }
    }

    .footer_bottom {
      @include footerBottom(61px, 59px, $black_color);

      p {
        color: $white_color;
        font-style: normal;
        font-weight: 400;
      }
    }
  }

  .footer_title {
    @include link(20px, 20px, $primary_color);
  }

  .footer_link {
    margin-top: 15px;

    li {
      list-style-type: none;

      a {
        @include link(24px, 13px, $white_color);
        border-bottom: 1px solid transparent;

        &:hover {
          color: $secondary_color;
          border-bottom: 1px solid $secondary_color;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }
}

// Large Device
@include large() {
  // Small navbar display: none
  .small_navbar {
    display: none;
  }
}
// Extra Large Device
@include extraLarge() {
  // Small navbar display: none
  .small_navbar {
    display: none;
  }
}
